body {
  background-color: #404;
  background-image: url(cbfefd1a956ecb8f08e27e182d07e16e.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

